{{template "base/base.html" .}}
{{define "head"}}
<title>{{i18n .Lang "websocket_chatroom"}} - {{i18n .Lang "app_intro"}}</title>
{{end}}
{{define "body"}}
<body background="../static/img/bg.png" style="background-size:cover;"></body>
<script src="http://192.168.43.195:9999/socket.io/socket.io.js"></script>
<script src="../static/js/main.js"></script>
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      
     <!--<span  class="mdl-layout-title">GO GO PAINTING </span></span> -->
     <img src="../static/img/p2.png"width=200 height=70/>
      <div class="mdl-layout-spacer"></div>
      
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <!--<a class="mdl-navigation__link" href="javascript:void(0)">Todo</a> -->
        <a class="mdl-navigation__link" id="guess_ans">猜猜答案!</a>
        <a class="mdl-navigation__link" href="/">Home</a>
      </nav>
    </div>
  </header>
  <div style="background-color:white;"class="mdl-layout__drawer">
      <nav class="mdl-navigation">
      <p Align=center>
      <img src="../static/img/p1.png"width=200 height=60/>
    
    <!--<span class="mdl-layout-title" style="color:rgb(13, 13, 228)">GO GO PAINTING</span>-->
    
  
      <!--<a style="color:rgb(7, 6, 6)" class="mdl-navigation__link" href="javascript:void(0)">Todo</a> -->
      <a style="color:rgb(8, 7, 7)" class="mdl-navigation__link" href="/">回主選單</a>
      <A style="color:rgb(17, 15, 15)" class="mdl-navigation__link" href="mailto:kshs010620@gmail.com">聯絡團隊</A>
      <A style="color:rgb(17, 15, 15)" class="mdl-navigation__link" href="https://researchoutput.ncku.edu.tw/files-asset/16412381/10408023.jpg">團隊顧問 </A>
      <A style="color:rgb(17, 15, 15)" class="mdl-navigation__link" href="https://www.facebook.com/profile.php?id=100002939864844">關於團隊 </A>
      
    </nav>
   <p>
     <p>
    <img src="../static/img/10.png"width=229 height=200/>
    <!--
      <span class="warninginfo">* Enjoy it.</span>
<span class="warninginfo">* this is a web app without any database,so the words will not be recorded as any form.</span>
 <span class="warninginfo">* any question please contact cowkeys@outlook.com </span> -->
 
    </div>

  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid">
  <div class="mdl-cell mdl-cell--7-col" style="color:black">     
    <span  style="color:white" class="mdl-layout-title ">[ 使用者 ] <span id="uname">{{.UserName}}</span>     [ 房號 ] <span id="roomid">{{.roomid}}</span>

<ul class="demo-list-item demo-list-three mdl-list" id="chatbox" style="color:black">
  <li class="mdl-list__item mdl-list__item--three-line" style="color:black"></li>

</ul>
  </div>
  <div class="mdl-cell mdl-cell--4-col" style="top:420px;left:100px;position:absolute;"> 
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="color:black">
<input style="display: inline-block;" class="mdl-textfield__input" type="text" id="sendbox" style="color:black;">
    
    <label class="mdl-textfield__label" for="sendbox" style="color:black">傳送訊息或答案...</label>
<div style="float:right"></div>

<button id="sendbtn"  class="mdl-button mdl-js-button" style="top:10px;left:310px;position:absolute;">
  <i id="sendbtn" class="material-icons">send</i>
</button>
 
    </div>
</div> 

  </div>
  <div class="mdl-cell mdl-cell--1-col"></div>
</div>

  </main>

</div>

{{end}}
